:root{
    --cor0: #DEC9DD;
    --cor1: #FF36F9;
    --cor2: #B720E3;
    --cor3: #9B2FFA;
    --cor4: #6732E6;
    --cor5: #2E23FB;
}

body{
    margin: 0px;
    background-color: var(--cor0);
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    height: 150px;
}

header > h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 20px;
}

header > p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 35px 20px 20px 20px;
    margin: 0px;
}

main{
    background-color: white;
    margin: auto;
    max-width: 700px;
    min-width: 300px;
    padding: 20px;
}

main > h2{
    margin: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

main > p{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
}

main > img{
    width: 100%;
}

article{
    padding: 20px;
    max-width: 700px;
    min-width: 300px;
    background-color: white;
    margin: auto;
    height: 450px;
    border-radius: 0px 0px 5px 5px;
}

article > h3{
    font-family: Arial, Helvetica, sans-serif;
}

article > div{
    background-color: var(--cor3);
    padding: 20px;
    padding-bottom: 50%;
    margin: 0px -20px 0px -20px;

    position: relative;
}

article > a{
    font-size: 25px;
    padding: 0px 0px 0px 320px;
}

iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    background-color: var(--cor5);
    margin-top: 20px;
    padding: 5px;
}

footer > p{
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 0px;
}